.checkout-container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    height: 100dvh;
}

.checkout-container form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.checkout-container form h2{
    font-size: var(--fs-300);
    font-weight: var(--fw-black);
    letter-spacing: 2.3px;
    text-align: center;
}

.checkout-container form label{
    font-weight: 900;
    opacity: .6;
    letter-spacing: .8px;
}

.checkout-back-btn{
    font-size: var(--fs-700);
    cursor: pointer;
}