/* *{
    outline: 1px solid magenta;
} */

html{
    height: 100%;
}


body{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    color: var(--fc-black);
    font-size: var(--fs-100);
    min-height: 100%; 
}

body.app-scroll-hidden{
    /* position: fixed; */
    overflow: hidden;
}

.app{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;
}

a{
    text-decoration: none;
    color: var(--fc-black);
}

button{
    color: var(--fc-black);
}


